/JFrameProject/target/
/Cube3D/nbproject/private/
/Cube3D/build/
/Cube3D/dist/
/JFrameIcon/nbproject/private/
/JFrameIcon/build/
/JFrameIcon/dist/
/Iconlar/nbproject/private/
/Iconlar/build/
/Iconlar/dist/
/JavaApplication51/nbproject/private/
